@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import "tailwindcss";

@theme {
    --font-work-sans: 'Work Sans', sans-serif;
    --font-jetbrains-mono: 'JetBrains Mono', monospace;
}

body {
    font-family: var(--font-work-sans);
}